.todo-content {
  margin: 10px;
  padding: 10px;
  float: left;
  width: 215px;
  height: 230px;
  position: relative;
}

.todo-content-to-do {
  background-color: rgb(234, 236, 79);
}

.todo-content-doing {
  background-color: rgb(106, 214, 187);
}

.todo-content-done {
  background-color: rgb(236, 99, 99);
}

.container {
  margin: 20px;
}

.title-container{
  text-align: center;
  color: rgb(66, 153, 153);
}

.button-delete-todo {
  position: absolute;
  bottom: 12px;
  left: 35%;
  border: none;
}

.button-change-state-to-do {
  background-color: rgb(234, 236, 79);
  width: 33%;
  height: 30px;
  margin-top: 70px;
  border: none;

}

.button-change-state-doing {
  background-color: rgb(106, 214, 187);
  width: 33%;
  height: 30px;
  margin-top: 70px;
  border: none;

}

.button-change-state-done {
  background-color: rgb(236, 99, 99);
  width: 33%;
  height: 30px;
  margin-top: 70px;
  border: none;

}